<!DOCTYPE html>
   <head>
      <title>Smart Solar Meter Readings</title>
   </head>

   <body>
      <h1>Mahalaya Solar Plant FC133</h1>
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax">Attribute</th>
    <th class="tg-0lax">Value</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">Voltage</td>
    <td class="tg-0lax">{{ volt }}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Current</td>
    <td class="tg-0lax">{{ amp }}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Power</td>
    <td class="tg-0lax">{{ watt }}</td>
  </tr>
  <tr>
    <td class="tg-0lax">State</td>
    <td class="tg-0lax">{{ state }}</td>
  </tr>
  <tr>
    <td class="tg-0lax">Total Units</td>
    <td class="tg-0lax">{{ total }}</td>
  </tr>
</tbody>
</table>
   </body>
</html>
